#saml2_login_button {
    cursor: pointer;
}

#saml2_login_button p {
    text-align: center;
    margin-top: 5px;
}

#saml2_redirect_notice {
    font-size: 48px;
    font-family: helvetica, sans-serif;
    color: gray;
    text-align: center;
    margin-top: 200px;
}